@using SharedLib.Models

<style>
    .is-delete {
        text-decoration: line-through;
    }

    tr th:first-child {
        width: 1%;
        white-space: nowrap;
    }
</style>

@if (DataTable?.RowsAny != true || DataTable?.ColumnsAny != true)
{
    <div class="alert alert-danger" role="alert">
        <p>
            <strong>DataTable</strong> не готова
        </p>
    </div>
}
else
{
    int sequence_start_num = DataTable.SequenceStartNum;
    <PaginationComponent BaseUrlTemplate="@($"{DataTable.TemplateUrl}/{GlobalStaticConstants.LIST_ACTION_NAME}")" AllRowsCount="@TotalRowsCount" PageNum="@PageNum" PageSize="@PageSize" Alignment="HorizontalAlignmentsEnum.Right" />
    <table class="table table-striped table-hover projects-table">
        <thead>
            <tr>
                <th>
                    №
                </th>
                @foreach (TableDataColumnModel col in DataTable.Columns())
                {
                    <th style="@col.Style">
                        <table>
                            <tr>
                                <td>
                                    @col.Title
                                </td>
                                @{
                                    string sort_mode = string.Empty;
                                    if (col.SortingDirection == VerticalDirectionsEnum.Down)
                                        sort_mode = "asc";
                                    else if (col.SortingDirection == VerticalDirectionsEnum.Up)
                                        sort_mode = "desc";

                                    if (!string.IsNullOrEmpty(sort_mode))
                                        sort_mode = $"oi oi-sort-{sort_mode}ending text-primary";
                                }
                                <td class="@sort_mode">
                                </td>
                            </tr>
                        </table>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (TableDataRowModel row in DataTable.Rows())
            {
                <tr>
                    <td>
                        <small><strong>@(sequence_start_num++)</strong></small>
                    </td>
                    @foreach (TableDataCellModel cel in row.Cells)
                    {
                        <td>
                            <a class="@(row.IsDeleted ? "is-delete link-secondary" : "")" href="@($"{DataTable.TemplateUrl}/{row.Id}")">@cel.DataCellValue</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <PaginationComponent BaseUrlTemplate="@($"{DataTable.TemplateUrl}/{GlobalStaticConstants.LIST_ACTION_NAME}")" AllRowsCount="@TotalRowsCount" PageNum="@PageNum" PageSize="@PageSize" Alignment="HorizontalAlignmentsEnum.Right" />
}

@code {
    [Parameter]
    public DataTableProviderAbstract DataTable { get; set; }

    /// <summary>
    /// Общее/всего количество элементов
    /// </summary>
    [Parameter]
    public int TotalRowsCount { get; set; }

    /// <summary>
    /// Размер страницы (количество элементов на странице)
    /// </summary>
    [Parameter]
    public int PageSize { get; set; }

    /// <summary>
    /// Номер текущей страницы
    /// </summary>
    [Parameter]
    public int PageNum { get; set; }

    /// <summary>
    /// Сортировка (от большего к меньшему или от меньшего к большему)
    /// </summary>
    //[Parameter]
    //public VerticalDirectionsEnum SortingDirection { get; set; }

    /// <summary>
    /// Имя поля по которому должна происходить сортировка
    /// </summary>
    //[Parameter]
    //public string? SortBy { get; set; }
}
